* {
  box-sizing: border-box;
  
}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
 /* DESKTOP LAYOUT*/
 
  
 /* TABLE LAYOUT*/
  @media screen and (max-width: 920px) {
    
    
  }

 /* MOBILE LAYOUT*/
 @media screen and (max-width: 600px) {

   
   
  }
  
  
